@value bodyText, primaryWhite, buttonBackground, buttonBackgroundOnHover, buttonBackgroundOnDisabled from "../../commons/styles/colors.module.css";

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    color: bodyText;
    padding: 10px;
}

.imageContainer {

}

.contentContainer {
    text-align: center;
    opacity: 0.8;
    user-select: none;
}

.productCard:hover .contentContainer {
    opacity: 1;
}

.name {
    text-align: center;
}

.measurement {
    margin: 10px 0 0 0;
}

.price {
    margin: 10px 0 0 0;
    font-weight: bold;
}

.addAndRemoveToCartContainer {

}

.addToCart,
.removeFromCart {
    padding: 10px 20px;
    font-size: 1em;
    border: none;

    background: buttonBackground;
    border-radius: 4px;
    color: primaryWhite;
}

.addToCart:hover,
.removeFromCart:hover {
    background: buttonBackgroundOnHover;
    cursor: pointer;
}

.addToCart:disabled {
    background: buttonBackgroundOnDisabled;
}
