@value colors: "../../commons/styles/colors.module.css";

@value borderGrey from colors;

.productDetailsPage {

}

.headerContainer {

}

.pageContainer {
    padding: 10px;
}

.contentContainer {
    border: 1px solid borderGrey;
    min-height: 300px;
    margin-left: 10px;
}
