@value brandPink, primaryWhite, borderGreyOnHover, fore from "../../commons/styles/colors.module.css";

.header {
    color: primaryWhite;
    background: brandPink;
    padding: 0 10px;
    height: 45px;
    font-size: 14px;
}

.logoContainer {
    display: inline-block;
    opacity: 0.9;
}

.logoContainer:hover {
    opacity: 1;

}

.logo {
    fill: primaryWhite;
    display: block;
}

.searchContainer {
    position: relative;
    align-items: center;
    display: flex;
}

.toolBarContainer {
}

.toolbar {
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.searchLink {
    color: primaryWhite;
    text-decoration: none;
    opacity: 0.8;
}

.searchLink:hover {
    opacity: 1;
}

.cartLink {
    float: right;
    margin: 0 0 0 10px;
    text-decoration: none;
    display: inline-block;
    padding: 6px 20px;
    opacity: 0.8;
    border: 1px solid primaryWhite;
    border-radius: 3px;
    font-size: 1.1em;
}

.cartLink:hover {
    opacity: 1;
}
