@value colors: "../../commons/styles/colors.module.css";

@value brandPink, backgroundWhite, borderGreyOnHover from colors;

.header {
    background: brandPink;
    padding: 0 10px;
    height: 45px;
    font-size: 14px;
}

.logoContainer {
    display: inline-block;
}

.logoContainer:hover {
    background: RED;
}

.logo {
    fill: backgroundWhite;
    display: block;
}

.searchContainer {
    position: relative;
    align-items: center;
    display: flex;
}

.cartContainer {
}

.cartLink {
    float: right;
    margin-top: 5px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 25px;
    color: backgroundWhite;
    border: 1px solid backgroundWhite;
    border-radius: 3px;
    font-size: 1.1em;
}

.cartLink:hover {
    opacity: 1;
    border: 1px solid borderGreyOnHover;
}
